<ion-view title="Post" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="post-form4" class="list">
      <label class="item item-input" id="post-textarea1">
        <span class="input-label">Text</span><textarea placeholder=""></textarea></label>
    </form>
    <div id="post-button-bar1" class="button-bar">
      <button id="post-button11" class="button button-assertive  button-block icon ion-android-camera"></button>
      <a ui-sref="image" id="post-button12" class="button button-energized  button-block icon ion-images"></a>
      <button id="post-button13" class="button button-balanced  button-block icon ion-location"></button>
    </div>
    <a ui-sref="page1.news" id="post-button14" class="button button-positive  button-block">Post Now!!!</a>
  </ion-content>
</ion-view>